<html>
<head>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>

  <h1>ITS IS TEMPLATE</h1>
      <h1>{{.T}}</h1>
      <h1>{{.Y}}</h1>


<table class="table table-bordered table-striped">
{{range .U}}
   <tr><td>{{.S1}}</td><td> {{.S2}}</td></tr>

{{end}}
</table>

<h1>Собаки и люди</h1>
<table class="table table-bordered table-striped">
{{range .NM}}
   <tr><td>{{.Fam}}</td><td> {{.Names}}</td></tr>
{{end}}
</table>


</body>
</html>
